body {
    font-family: 'Montserrat Alternates', sans-serif;
    background-color: rgb(12, 12, 12);
    color: white;
}

h1 {
    font-family: 'Press Start 2P', cursive;
}

.enter-h2 {
    font-family: 'Press Start 2P', cursive;
}

a {
    color: white;
}

.cat {
    width: 280px;
    border-radius: 20%;
}

.hello {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.hello img{margin-right: 20px;}

.about-game {
    font-family: 'Press Start 2P', cursive;
}